<!DOCTYPE html>
<html>
  <% include templates/head.ejs %>
  <body>
    <% include templates/headers.ejs %>
    <div class="container big-space">
      <div class="col-md-12">
        <h1><%= title %></h1>
        <p>All must die</p>

        <a href="#" class="btn btn-default">Default</a>
        <a href="#" class="btn btn-primary">Primary</a>
        <a href="#" class="btn btn-success">Success</a>
        <a href="#" class="btn btn-info">Info</a>
        <a href="#" class="btn btn-warning">Warning</a>
        <a href="#" class="btn btn-danger">Danger</a>

      </div>
      <div class="col-md-12">

        <div class="col-md-3">
          <h2>Create</h2>
          <form name="create" method="post" action="/<%= name %>/insert" >
            <p>Title</p>
            <input name="title" />
            <p>Content</p>
            <input name="content" />
            <p>Author</p>
            <input name="author" />
            <button type="submit" class="btn btn-success">Create</button>
          </form>
        </div>

        <div class="col-md-3">
          <h2>Read</h2>
          <% items.forEach((itm) => { %>
          <pre>
ID: <%= itm._id %>
Title: <%= itm.title %>
Content: <%= itm.content %>
Author: <%= itm.author %></pre>
          <% }) %>
          <form name="create" method="get" action="/<%= name %>/get-data" >
            <button type="submit" class="btn btn-primary">Read</button>
          </form>
        </div>

        <div class="col-md-3">
          <h2>Update</h2>
          <form name="update" method="post" action="/<%= name %>/update" >
            <p>ID</p>
            <input name="id-update" />
            <p>Title</p>
            <input name="title-update" />
            <p>Content</p>
            <input name="content-update" />
            <p>Author</p>
            <input name="author-update" />
            <button type="submit" class="btn btn-warning">Update</button>
          </form>
        </div>

        <div class="col-md-3">
          <h2>Delete</h2>
          <form name="delete" method="post" action="/<%= name %>/delete" >
            <p>ID</p>
            <input name="id-delete" />
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script>
          const socket = io();
        </script>
      </div>
    </div>
  </body>
</html>
