<!DOCTYPE html>
<html>
  <% include templates/head.ejs %>
  <body>
    <% include templates/headers.ejs %>
    <div class="container big-space">
    <div class="col-md-12">

    <h3><%= title %></h3>
    <h3><%= db.test %></h3>

    <ul>
      <% db.categories.forEach(function(item,n){ %>
        <li>
          <a href="/cat/<%= n %>">
            <%= item.categoryName %>
          </a>
        </li>
      <% }) %>
    </ul>

  </div>
  </div>

    <input type="text" id="username" placeholder="Enter your name here." />
    <pre id="socketid"></pre>
    <ul class="pages">
        <li class="chat page">
          <div class="chatArea">
            <ul class="messages"></ul>
          </div>
          <input class="inputMessage" placeholder="Type here..."/>
        </li>
    </ul>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script>
      const socket = io();

      // Initialize variables
      var COLORS = [
         '#e21400', '#91580f', '#f8a700', '#f78b00',
         '#58dc00', '#287b00', '#a8f07a', '#4ae8c4',
         '#3b88eb', '#3824aa', '#a700ff', '#d300e7'
     ];
      var $window = $(window);
      var $inputMessage = $('.inputMessage');
      var $messages = $('.messages');
      var $username = $('#username');

      function addChatMessage (data) {

          var $usernameDiv = $('<span class="username"/>')
            .text(data.username)
            .css('color', getUsernameColor(data.username));
          var $messageBodyDiv = $('<span class="messageBody">')
            .text(data.message);

          var $messageDiv = $('<li class="message"/>')
            .data('username', data.username)
            .append($usernameDiv, $messageBodyDiv);

          addMessageElement($messageDiv);
      }

      function addMessageElement (el) {
         var $el = $(el);


        $messages.append($el);

         $messages[0].scrollTop = $messages[0].scrollHeight;
     }

      function getUsernameColor (username) {
          // Compute hash code
          var hash = 7;
          for (var i = 0; i < username.length; i++) {
             hash = username.charCodeAt(i) + (hash << 5) - hash;
          }
          // Calculate color
          var index = Math.abs(hash % COLORS.length);
          return COLORS[index];
      }

      function sendMessage () {
          var message = $inputMessage.val();
          // Prevent markup from being injected into the message

          $inputMessage.val('');
          addChatMessage({
            username: $username.val() || socket.id,
            message: message
          });
            // tell server to execute 'new message' and send along one parameter
            console.log(message);
          socket.emit('new message', message);

      }
      // Keyboard events

      $window.keydown(function (event) {
        if (event.which === 13 && $inputMessage.val() !== '') {
          sendMessage();
        }
      });

      socket.on('connect', () => {
        console.log(socket.id);
        document.getElementById("socketid").innerHTML = "ID: " +socket.id;
      });

      socket.on('new message', function (data) {
          addChatMessage(data);
      });
    </script>
  </body>
</html>
