<head>
  <title>SMooth</title>
  <% styles.forEach((item) => { %>
    <link rel='stylesheet' href='/stylesheets/<%= item %>.css' />
  <% }) %>
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <% javascripts.forEach((item) => { %>
    <script src="/javascripts/<%= item %>.js" crossorigin="anonymous"></script>
  <% }) %>
</head>
